# Excluir pastas de ambiente e cache (Causa o erro de compilação)
.venv/
.uv/
__pycache__/
*.pyc
.pytest_cache/

# Excluir arquivos de desenvolvimento local
dev.py
conftest.py
tests/
book/

# Excluir controle de versão e metadados
.git/
.gitignore
.python-version
LICENSE
README.md

# Ignorar o próprio arquivo de trava do uv se estiver usando requirements.txt
uv.lock